---
http_interactions:
- request:
    method: get
    uri: https://moviesdatabase.p.rapidapi.com/titles/x/upcoming
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Rapidapi-Key:
      - a6ee17a7fcmshf761bb4c7b31ce4p1f5232jsnd5fcb729db65
      X-Rapidapi-Host:
      - moviesdatabase.p.rapidapi.com
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"274b-AXai3CWTuc96FO5Avl9wsK86JzY"
      X-Ratelimit-Rapid-Free-Plans-Hard-Limit-Limit:
      - '500000'
      X-Ratelimit-Rapid-Free-Plans-Hard-Limit-Remaining:
      - '499996'
      X-Ratelimit-Rapid-Free-Plans-Hard-Limit-Reset:
      - '2672433'
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - ap-southeast-1
      X-Rapidapi-Request-Id:
      - c93048fce6fdadf7581d3cfb624587382f80bcc95c1012c845c8e57ca8bc491d
    body:
      encoding: UTF-8
      string: '{"page":1,"next":"/titles/x/upcoming?page=2","entries":10,"results":[{"_id":"61e58c6aef99b1c54343e375","id":"tt10209920","primaryImage":{"id":"rm882431489","width":8200,"height":12300,"url":"https://m.media-amazon.com/images/M/MV5BM2JkMzk2YTQtYmY5Ni00NGRiLTg0OWQtZTViNTdmZjIyZTY5XkEyXkFqcGc@._V1_.jpg","caption":{"plainText":"Alien
        Wars: Judgement Day (2024)","__typename":"Markdown"},"__typename":"Image"},"titleType":{"displayableProperty":{"value":{"plainText":"","__typename":"Markdown"},"__typename":"DisplayableTitleTypeProperty"},"text":"Movie","id":"movie","isSeries":false,"isEpisode":false,"categories":[{"value":"movie","__typename":"TitleTypeCategory"}],"canHaveEpisodes":false,"__typename":"TitleType"},"titleText":{"text":"Alien
        Wars: Judgement Day","__typename":"TitleText"},"originalTitleText":{"text":"Alien
        Wars: Judgement Day","__typename":"TitleText"},"releaseYear":{"year":2024,"endYear":null,"__typename":"YearRange"},"releaseDate":{"day":29,"month":12,"year":2024,"__typename":"ReleaseDate"}},{"_id":"61e58e44a66e596423445707","id":"tt10521010","primaryImage":{"id":"rm4127568385","width":792,"height":1080,"url":"https://m.media-amazon.com/images/M/MV5BYWQzYTFlZjgtNjIyNi00MGQ2LTg3NmQtOGQ0NTIzMGY5MmU5XkEyXkFqcGc@._V1_.jpg","caption":{"plainText":"Dante
        Alighieri, Boris Acosta, and Dino Di Durante in The Divine Comedy: Inferno,
        Purgatory and Paradise (2024)","__typename":"Markdown"},"__typename":"Image"},"titleType":{"displayabl[...]
